body {
	background-color: #948F8C;
}
a {
	text-decoration: none;
	color:#F6F5F3; 
}
a:hover {
	text-decoration: underline;
}
#guide {
	list-style: none;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 70px;
  background-color: rgba(34, 42,63, .9);
  padding: 50px;
  text-align: center;
  z-index: 10;
}
.material-icons {
	color: #F6F5F3;
	margin-top: 20px;
	margin-right: 20px;
	height: 30px;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	margin-top: -20px;
	right: 0px;
	width: 105%;
	margin-left: -10px;
	background-color: #222A3F;

	}
li {
	font-family: 'Poiret One', cursive;
	font-size: 20px;
	margin-top: 20px;
	color:  #F6F5F3;
	margin-bottom: 10px;
	

}
.name {
	font-family: 'Homemade Apple';
	color: #D5E1EF;
	margin-top: 20px;
	margin-left: 25px;
	font-size: 20px;

}
#close {
	display: none;
}